.app-content {
  position: absolute;
}
.content {
  padding: 0px;
}
#content-wrapper {
  position: absolute;
  padding-top: 55px;
}

@media screen and (max-width: 991px) {
  .menu-label {
    display: none;
  }

 .app-content {
    padding-left: 80px;
  }
  .div-auto-scroll {
    overflow: scroll;
  }
}

@media screen and (min-width: 992px) {
  .app-content {
    padding-left: 270px;
    margin-top: 20px;
    background-color: rgb(9, 26, 78);
  }
}
